<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Your App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h3 class="display-4">Welcome, {{username}}!</h1>
                <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
                <a href="{{ url_for('erase') }}" class="btn btn-danger">Logout & Delete account</a>
            <p class="lead">Here are all our users:</p>
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">{{ user.email }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Bootstrap JS (optional, only needed if you have other Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>